<h1>All Shops</h1>
<ol>
  @foreach (Shop shop in Model)
  {
    <ul>
      <li>ID: @shop.ShopId</li>
      <li>Name: @shop.ShopName</li>
      <li>Address: @shop.ShopAddress</li>
      <li>Type of Shop: @shop.ShopType</li>
    </ul>
    <a href="/Shops/Details/@(shop.ShopId)">Details</a>
    <br>
  }
</ol>